<main>
    <div id="login">
        <div>
            <h1>Login Page :</h1>
            <!--<h4 class="text-center">{{ loginForm.value | json }}</h4>-->
        </div>
        <form [formGroup]="loginForm" (submit)="login()">
            <mat-form-field appearance="legacy">
                <input matInput formControlName="email" required/>
                <mat-icon matSuffix>account_box</mat-icon>
                <mat-hint>Email</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput formControlName="password" required/>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Password</mat-hint>
            </mat-form-field>
            <div>
                <button mat-raised-button color="accent" type="submit">Login</button>
                <button mat-raised-button color="warning" [routerLink]="['/register']"> Go To Register Page</button>
            </div>
        </form>
    </div>
</main>