* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 100%;
}

.body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #f7f7f9;
}

.container-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 504px;
    height: 278px;
    left: 144px;
    top: 401px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.text-plataform {
    position: static;
    width: 504px;
    height: 116px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    /* or 120% */
    text-align: center;
    letter-spacing: -0.4px;
    color: #ffffff;
}

.text-lorem {
    position: static;
    width: 395px;
    height: 50px;
    left: 54.5px;
    top: 132px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.container-btn {
    position: static;
    width: 172px;
    height: 56px;
    left: 166px;
    top: 222px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px 0px;
}

.btn-base-web {
    position: static;
    width: 172px;
    height: 56px;
    left: 166px;
    top: 222px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px 0px;
}

.text-decorator-btn {
    position: static;
    left: 0px;
    right: 24px;
    top: 0px;
    bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Primary / White */
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    width: 1128px;
    height: 1080px;
    left: 792px;
    top: 0px;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    width: 792px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: radial-gradient( 109.66% 112.15% at -1.89% -1.44%, #ffe81d 0%, #00d1c5 100%);
}

.example-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 588px;
    height: 469.5px;
    left: 270px;
    top: 305.25px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.container-bienvenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 446px;
    height: 105px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 39.5px 0px;
}

.text-bienvenidos {
    position: static;
    width: 446px;
    height: 58px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    /* Green_primary */
    color: #0ed28c;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.text-inicia-sesion {
    position: static;
    width: 340px;
    height: 31px;
    left: 0px;
    top: 74px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    /* Black */
    color: #131340;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.card-login-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 39.5px;
    position: static;
    width: 588px;
    height: 325px;
    left: 0px;
    top: 144.5px;
    background: #ffffff;
    /* Main-boxshadow */
    box-shadow: 0px 4px 16px rgba(117, 114, 150, 0.15);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 39.5px 0px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 509px;
    height: 158px;
    left: 39.5px;
    top: 39.5px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
}

.text-email {
    position: static;
    width: 36px;
    height: 20px;
    left: 4px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Black */
    color: #131340;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.text-password {
    position: static;
    width: 78px;
    height: 20px;
    left: 4px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Black */
    color: #131340;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.input-container-username {
    position: static;
    width: 509px;
    left: calc(50% - 509px / 2);
    top: 0%;
    bottom: 64.56%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.input-container-password {
    position: static;
    width: 509px;
    left: calc(50% - 509px / 2);
    top: 0%;
    bottom: 34.88%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.input-username {
    position: static;
    width: 509px;
    left: calc(50% - 509px / 2);
    top: 0%;
    bottom: 64.56%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.input-password {
    position: static;
    width: 509px;
    left: calc(50% - 509px / 2);
    top: 0%;
    bottom: 64.56%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 509px;
    height: 86px;
    left: 0px;
    top: 72px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.btn-container-inicio-sesion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 509px;
    height: 48px;
    left: 39.5px;
    top: 237.5px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px 0px;
}

.btn-inicio-sesion {
    position: static;
    width: 100px;
    height: 48px;
    left: 409px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.text-nuevo-usuario {
    position: static;
    height: 21px;
    left: 0px;
    right: 100px;
    top: 13.5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Black */
    color: #131340;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.btn-base-inicio-sesion {
    background: #0ed28c;
}

.text-inicio-sesion {
    position: absolute;
    left: -40.5px;
    right: 0.5px;
    top: 0px;
    bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    /* or 180% */
    display: flex;
    align-items: center;
    text-align: center;
    /* White */
    color: #ffffff;
}